# Homepage Data Preprocessing Notebook

## 1. Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Load Data and Preprocessing

In [2]:
# Define data path
DATA_PATH = "./data"
GAME_DATA = DATA_PATH + "/games.csv"

In [3]:
# Load and check data
df = pd.read_csv(GAME_DATA)
df.head(3)

,AppID,Name,Release date,Estimated owners,Peak CCU,Required age,Price,DLC count,About the game,Supported languages,...,Average playtime two weeks,Median playtime forever,Median playtime two weeks,Developers,Publishers,Categories,Genres,Tags,Screenshots,Movies
0,20200,Galactic Bowling,"Oct 21, 2008",0 - 20000,0,0,19.99,0,Galactic Bowling is an exaggerated and stylize...,['English'],...,0,0,0,Perpetual FX Creative,Perpetual FX Creative,"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
1,655370,Train Bandit,"Oct 12, 2017",0 - 20000,0,0,0.99,0,THE LAW!! Looks to be a showdown atop a train....,"['English', 'French', 'Italian', 'German', 'Sp...",...,0,0,0,Rusty Moyher,Wild Rooster,"Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
2,1732930,Jolt Project,"Nov 17, 2021",0 - 20000,0,0,4.99,0,Jolt Project: The army now has a new robotics ...,"['English', 'Portuguese - Brazil']",...,0,0,0,Campião Games,Campião Games,Single-player,"Action,Adventure,Indie,Strategy",NaN,https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...

In [4]:
og_cols = df.columns
col_mapping = dict(zip(og_cols, ["_".join(col.lower().split()) for col in og_cols]))
df = df.rename(columns=col_mapping)
df.head(3)

,appid,name,release_date,estimated_owners,peak_ccu,required_age,price,dlc_count,about_the_game,supported_languages,...,average_playtime_two_weeks,median_playtime_forever,median_playtime_two_weeks,developers,publishers,categories,genres,tags,screenshots,movies
0,20200,Galactic Bowling,"Oct 21, 2008",0 - 20000,0,0,19.99,0,Galactic Bowling is an exaggerated and stylize...,['English'],...,0,0,0,Perpetual FX Creative,Perpetual FX Creative,"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
1,655370,Train Bandit,"Oct 12, 2017",0 - 20000,0,0,0.99,0,THE LAW!! Looks to be a showdown atop a train....,"['English', 'French', 'Italian', 'German', 'Sp...",...,0,0,0,Rusty Moyher,Wild Rooster,"Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
2,1732930,Jolt Project,"Nov 17, 2021",0 - 20000,0,0,4.99,0,Jolt Project: The army now has a new robotics ...,"['English', 'Portuguese - Brazil']",...,0,0,0,Campião Games,Campião Games,Single-player,"Action,Adventure,Indie,Strategy",NaN,https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...

In [5]:
df.columns

Index(['appid', 'name', 'release_date', 'estimated_owners', 'peak_ccu',
       'required_age', 'price', 'dlc_count', 'about_the_game',
       'supported_languages', 'full_audio_languages', 'reviews',
       'header_image', 'website', 'support_url', 'support_email', 'windows',
       'mac', 'linux', 'metacritic_score', 'metacritic_url', 'user_score',
       'positive', 'negative', 'score_rank', 'achievements', 'recommendations',
       'notes', 'average_playtime_forever', 'average_playtime_two_weeks',
       'median_playtime_forever', 'median_playtime_two_weeks', 'developers',
       'publishers', 'categories', 'genres', 'tags', 'screenshots', 'movies'],
      dtype='object')

In [6]:
col_to_keep = ['name', 'estimated_owners', 'peak_ccu', 'price', 'positive', 'negative', 'average_playtime_two_weeks', 'genres']

In [7]:
filtered_df = df[col_to_keep]
filtered_df.head(3)

,name,estimated_owners,peak_ccu,price,positive,negative,average_playtime_two_weeks,genres
0,Galactic Bowling,0 - 20000,0,19.99,6,11,0,"Casual,Indie,Sports"
1,Train Bandit,0 - 20000,0,0.99,53,5,0,"Action,Indie"
2,Jolt Project,0 - 20000,0,4.99,0,0,0,"Action,Adventure,Indie,Strategy"

In [8]:
# drop the rows where average_playtime_two_weeks is 0 
#filtered_df = filtered_df[filtered_df['average_playtime_two_weeks'] != 0]
#filtered_df.head(3)

In [9]:
filtered_df[["estimated_owners_low", "estimated_owners_high"]] = filtered_df["estimated_owners"].str.split(" - ", n=1, expand=True)
filtered_df.drop(["estimated_owners"], axis=1, inplace=True)
filtered_df["estimated_owners"] = (filtered_df["estimated_owners_low"].astype(int) + filtered_df["estimated_owners_high"].astype(int)) / 2
filtered_df.drop(["estimated_owners_low", "estimated_owners_high"], axis=1, inplace=True)
filtered_df

C:\Users\Anime\AppData\Local\Temp\ipykernel_25292\2340476138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[["estimated_owners_low", "estimated_owners_high"]] = filtered_df["estimated_owners"].str.split(" - ", n=1, expand=True)
C:\Users\Anime\AppData\Local\Temp\ipykernel_25292\2340476138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[["estimated_owners_low", "estimated_owners_high"]] = filtered_df["estimated_owners"].str.split(" - ", n=1, expand=True)
C:\Users\Anime\AppData\Local\Temp\ipykernel_25292\2340476138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(["estimated_owners"], axis=1, inplace=True)
C:\Users\Anime\AppData\Local\Temp\ipykernel_25292\2340476138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["estimated_owners"] = (filtered_df["estimated_owners_low"].astype(int) + filtered_df["estimated_owners_high"].astype(int)) / 2
C:\Users\Anime\AppData\Local\Temp\ipykernel_25292\2340476138.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(["estimated_owners_low", "estimated_owners_high"], axis=1, inplace=True)

,name,peak_ccu,price,positive,negative,average_playtime_two_weeks,genres,estimated_owners
0,Galactic Bowling,0,19.99,6,11,0,"Casual,Indie,Sports",10000.0
1,Train Bandit,0,0.99,53,5,0,"Action,Indie",10000.0
2,Jolt Project,0,4.99,0,0,0,"Action,Adventure,Indie,Strategy",10000.0
3,Henosis™,0,5.99,3,0,0,"Adventure,Casual,Indie",10000.0
4,Two Weeks in Painland,0,0.00,50,8,0,"Adventure,Indie",10000.0
...,...,...,...,...,...,...,...,...
85098,Mannerheim's Saloon Car,0,0.00,0,0,0,"Adventure,Simulation",0.0
85099,Beer Run,0,0.00,0,0,0,"Casual,Indie",0.0
85100,My Friend The Spider,0,0.00,0,0,0,"Adventure,Simulation",0.0
85101,Path of Survivors,0,3.99,0,0,0,"Action,Casual,Indie,RPG,Simulation",0.0
85102,The Night Heist,0,9.99,0,0,0,"Casual,Indie",0.0

In [10]:
filtered_df = filtered_df.assign(genres=df["genres"].str.split(',')).explode("genres")
genre_counts = filtered_df.groupby(["name", "genres"]).size().reset_index(name="count")

In [11]:
filtered_df.head(10)

,name,peak_ccu,price,positive,negative,average_playtime_two_weeks,genres,estimated_owners
0,Galactic Bowling,0,19.99,6,11,0,Casual,10000.0
0,Galactic Bowling,0,19.99,6,11,0,Indie,10000.0
0,Galactic Bowling,0,19.99,6,11,0,Sports,10000.0
1,Train Bandit,0,0.99,53,5,0,Action,10000.0
1,Train Bandit,0,0.99,53,5,0,Indie,10000.0
2,Jolt Project,0,4.99,0,0,0,Action,10000.0
2,Jolt Project,0,4.99,0,0,0,Adventure,10000.0
2,Jolt Project,0,4.99,0,0,0,Indie,10000.0
2,Jolt Project,0,4.99,0,0,0,Strategy,10000.0
3,Henosis™,0,5.99,3,0,0,Adventure,10000.0

In [12]:
genre_counts

                                                name        genres  count
0                                      ! Shakabula *        Action      1
1                                      ! Shakabula *  Early Access      1
2                                      ! Shakabula *         Indie      1
3                                      ! Shakabula *           RPG      1
4       ! That Bastard Is Trying To Steal Our Gold !        Action      1
...                                              ...           ...    ...
232029                              🧠 OUT OF THE BOX    Simulation      1
232030                              🧠 OUT OF THE BOX      Strategy      1
232031                                             𣸩     Adventure      1
232032                                             𣸩        Casual      1
232033                                             𣸩         Indie      1

[232034 rows x 3 columns]

In [13]:
genre_counts_aggregated = genre_counts.groupby('genres')['count'].sum().reset_index(name='total_count')
sorted_genres = genre_counts_aggregated.sort_values(by='total_count', ascending=False)

In [14]:
top_to_genres = sorted_genres.head(10)
top_to_genres

          genres  total_count
15         Indie        56929
6         Casual        34208
2         Action        33808
3      Adventure        31450
24    Simulation        16146
27      Strategy        15602
20           RPG        14439
9   Early Access        10403
12  Free to Play         6630
26        Sports         3790

In [15]:
top_10_genre =top_to_genres['genres'].values
filtered_df_further = filtered_df[filtered_df['genres'].isin(top_10_genre)]

In [16]:
filtered_df_further

,name,peak_ccu,price,positive,negative,average_playtime_two_weeks,genres,estimated_owners
0,Galactic Bowling,0,19.99,6,11,0,Casual,10000.0
0,Galactic Bowling,0,19.99,6,11,0,Indie,10000.0
0,Galactic Bowling,0,19.99,6,11,0,Sports,10000.0
1,Train Bandit,0,0.99,53,5,0,Action,10000.0
1,Train Bandit,0,0.99,53,5,0,Indie,10000.0
...,...,...,...,...,...,...,...,...
85101,Path of Survivors,0,3.99,0,0,0,Indie,0.0
85101,Path of Survivors,0,3.99,0,0,0,RPG,0.0
85101,Path of Survivors,0,3.99,0,0,0,Simulation,0.0
85102,The Night Heist,0,9.99,0,0,0,Casual,0.0
85102,The Night Heist,0,9.99,0,0,0,Indie,0.0

In [17]:
filtered_df_further["user_score"] = (filtered_df_further["positive"] / (filtered_df_further["positive"] + filtered_df_further["negative"]) * 100).round(2)
filtered_df_further = filtered_df_further.drop(columns=["positive", "negative", "average_playtime_two_weeks"])
filtered_df_further["user_score"] = filtered_df_further["user_score"].fillna(0)
filtered_df_further

C:\Users\Anime\AppData\Local\Temp\ipykernel_25292\2917657828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_further["user_score"] = (filtered_df_further["positive"] / (filtered_df_further["positive"] + filtered_df_further["negative"]) * 100).round(2)

,name,peak_ccu,price,genres,estimated_owners,user_score
0,Galactic Bowling,0,19.99,Casual,10000.0,35.29
0,Galactic Bowling,0,19.99,Indie,10000.0,35.29
0,Galactic Bowling,0,19.99,Sports,10000.0,35.29
1,Train Bandit,0,0.99,Action,10000.0,91.38
1,Train Bandit,0,0.99,Indie,10000.0,91.38
...,...,...,...,...,...,...
85101,Path of Survivors,0,3.99,Indie,0.0,0.00
85101,Path of Survivors,0,3.99,RPG,0.0,0.00
85101,Path of Survivors,0,3.99,Simulation,0.0,0.00
85102,The Night Heist,0,9.99,Casual,0.0,0.00
85102,The Night Heist,0,9.99,Indie,0.0,0.00

In [18]:
filtered_df_further.to_csv(DATA_PATH + "/homePageBroadData.csv", index=False)

## Option 2 for Data Preprocessing

In [77]:
genre_df = df.assign(genres=df["genres"].str.split(',')).explode("genres")

genre_df[["estimated_owners_low", "estimated_owners_high"]] = genre_df["estimated_owners"].str.split(" - ", n=1, expand=True)
genre_df.drop(["estimated_owners"], axis=1, inplace=True)
genre_df["estimated_owners"] = (genre_df["estimated_owners_low"].astype(int) + genre_df["estimated_owners_high"].astype(int)) / 2
genre_df.drop(["estimated_owners_low", "estimated_owners_high"], axis=1, inplace=True)
genre_df

genre_counts = genre_df.groupby(['name', 'estimated_owners', 'peak_ccu', 'price', 'positive', 'negative', 'average_playtime_two_weeks', 'genres']).size().reset_index(name="count")

In [78]:
genre_counts_aggregated = genre_counts.groupby('genres')['count'].sum().reset_index(name='game_count')
sorted_genres = genre_counts_aggregated.sort_values(by='game_count', ascending=False)
top_10_genres = sorted_genres.head(10)

In [99]:
top_10_genres

          genres  game_count
15         Indie       56929
6         Casual       34208
2         Action       33808
3      Adventure       31450
24    Simulation       16146
27      Strategy       15602
20           RPG       14439
9   Early Access       10403
12  Free to Play        6630
26        Sports        3790

In [85]:
genre_filtered = genre_counts[genre_counts["genres"].isin(top_10_genres["genres"].values)]

In [103]:
genre_filtered.head(1)

,name,estimated_owners,peak_ccu,price,positive,negative,average_playtime_two_weeks,genres,count
0,! Shakabula *,10000.0,0,14.99,1,1,0,Action,1

In [101]:
genre_filtered_aggregated = genre_filtered.groupby('genres')['count'].sum().reset_index(name='game_count')
sorted_filtered_genres = genre_filtered_aggregated.sort_values(by='game_count', ascending=False)
top_10_filtered_genres = sorted_filtered_genres.head(10)

## To be continued!

For each genre, need:
- Number of games
- List of estimated owners, one entry per game within the genre
- Same but for peak_ccu
- Same but for price
- Same but for positive/negative

Therefore, for now, it's skipped, as putting one row per genre is easier to do here and manage in JS. Might come back to this.

### Never came back to this :( It still works though!